* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  width: auto;
  margin: 64px auto 240px;
}

#main {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  color: #3F3D56;

  margin-bottom: 16px;
  
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;

}

#meio {
  margin-top: 16px;
  margin-bottom: 32px;
}

strong, a {
  color: #3F3D56;
  font-weight: bold;

}

.flutuar {
  opacity: 0.7;
  font-weight: bold;
}

footer, p {
  font-family: 'Open Sans', sans-serif;
  
}

span {
  color: #EE24FF;
  font-weight: bold;
}

div {
  text-align: center;
  margin-left: 42px;
}

footer {
  margin-bottom: 43px;
}

a + a {
  margin-left: 42px;
}

.onda {
  width: 100vw;
}
